* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box-container {
    border: solid red 2px;
    overflow: hidden;
}

#controls-container {
    text-align: center;
}

.pixel {
    background-color: white;
    border: solid 1px rgb(245, 245, 245);
}